<section class="orders-show">
  <h1>View Order</h1>
  <div class="order-summary jumbotron">
    <% @items.each do |item|%>
      <header class="order-item">
        <%= render "order", item: item %>
      </header>
      <hr>
    <% end %>
    <h2 class="order-total">Order Total: <%=humanized_money_with_symbol @total%></h2>
    <h2 class="order-total">Email is: <%=@order.email%></h2>
    <hr>
  </div>
</section>